<% provide(:title,'All users') %><h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
      <li>
        <%= gravatar_for(user) %>
        <%= link_to user.name, user %>
        <%if current_user.admin? && !current_user?(user) %>
        <%= link_to 'delete',user,method: :delete,data: {config: 'Are you Sure!'},class: 'admin' %>
        <% end %>

      </li>

  <% end %>
</ul>


 <%= will_paginate %>