<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="https://www.google.com.tr/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=0CCEQFjAB&url=https%3A%2F%2Fwww.linkedin.com%2Fpub%2Fadilet-joldoshbekov%2Fb8%2F3ba%2Fa8a&ei=SJOfVY6rHcussgHe_bXgDg&usg=AFQjCNHAAEFWWz2_nHod2HRx-8OE-Ip1dQ&sig2=RNleTPWwy4mf2ZvMcHQEYQ&bvm=bv.96952980,d.bGg">ADilet Joldoshbekov</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>